
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
  box-sizing: border-box;
  font-family: arial;
}
body{
     background:#282828;
}
  .card{
      width:60%;
      height:300px;
      border:2px solid #000;
      border-radius: 30px;
      margin:auto;
      margin-bottom: 3%;
      background-color: #829BE3;
      box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.31);
  
  }
  .card:hover{
      background: #BBD1FF;
  }
  .card:hover .button{
      background: #000;
      color:#BBD1FF;
      border:2px solid #000;
  }
  .cards:hover .img{
      opacity: 0.85;
  }
  .cards{
      margin: auto;
      margin-top:5%;
  }
  .card:hover {
       transform: translateY(-10px);
       transition-duration:.3s;
  }
  .head{
      display:flex;
      justify-content: center;
  }
  .img{
      width:400px;
      height:250px;
      transform:translate(-40px);
      margin-top:23px;
      object-fit: cover;
      border-radius: 20px;
  }
  .button{
      border:2px solid #000;
      border-radius: 20px;
      padding:7px 20px;
      position: absolute;
      font-size: 15px;
      color:#000;
      background: #BBD1FF;
      box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.31) inset;
      font-size: 16px;
      text-decoration: none;
      cursor: pointer;
  }
  h3{
      font-size: 25px;
  }
  h4{
      text-align: center;
      font-size: 40px;
      color:#fff;
  }
  h5{
      font-size: 15px;
  }
  p{
      font-size: 18px;
  }
  

